.popup__name {
  border-bottom: 1px rgba(0,0,0,.2) solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 63px;
  height: 37px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}


@media screen and (min-width: 800px) {
  .popup__name {
    margin-top: 39px;
  }
}
