.popup__contener {
  align-self: center;
  margin: 0 auto;
  width: 284px;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

@media screen and (min-width: 900px) {
  .popup__contener {
    width: 510px;
    row-gap: 12px;
  }
}
